
  <p>Hello world</p>
</body>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/@fortawesome/fontawesome-free/css/all.min.js"></script>
<script src="/scripts/app.js"></script>
</html>

